<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protection Materials</title>
    <link rel="stylesheet" type="text/css" href="../../table.css" th:href="@{/table.css}">
    <link rel="stylesheet" type="text/css" href="../../welcomeCSS.css" th:href="@{/welcomeCSS.css}">
</head>
<body>

<div class="navbar">
    <a href="#welcome">Home</a>
    <a href="#news">News</a>
    <div class="dropdown">
        <button class="dropbtn">Categorii
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/protection">Materiale protectie</a>
            <a href="/electronics">Electronice</a>
            <a href="/digitals">Digitale</a>
        </div>
    </div>
</div>

<table>
    <tr>
        <td>Nume</td>
        <td>Descriere</td>
        <td>Pret</td>
        <td>Detalii</td>
    </tr>
    <th:block th:if="currentProduct != null">
        <tr>
            <td th:text="${currentProduct.name}">...</td>
            <td th:text="${currentProduct.description}">...</td>
            <td th:text="${currentProduct.price}">...</td>
            <td th:text="${currentProduct.details}">...</td>
            <td>
                <a th:href="@{/shoppingCart}" class="btn btn-danger">Cumpara</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>