<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panou administratie</title>
    <link rel="stylesheet" type="text/css" href="../../welcomeCSS.css" th:href="@{/welcomeCSS.css}">
</head>
<body>

<div class="navbar">
    <a href="/adminView">Acasa</a>
    <a href="#news">Noutati</a>
    <div class="dropdown">
        <button class="dropbtn">Admin view
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/viewOrders">Vezi comenzi</a>
            <a href="/addProducts">Adauga produse</a>
            <a href="/viewStock">Actualizeaza stoc</a>
        </div>
    </div>
</div>

    <!--<a href="/addProducts"> Adauga produse</a>-->

    <!--<a href="/viewOrders"> Vezi comenzi</a>-->

    <!--<a href="/viewStock"> Actualizeaza stoc</a>-->

    <!--<a href="/logout">Logout</a>-->


<h3> Comenzi confirmate:</h3>   <span th:text="${numberOfOrdersConfirmedByAdmin}" class="fa fa-user"></span>
<br>
<h3> Comenzi in asteptare: </h3> <span th:text="${unconfirmedOrders}" class="fa fa-user"></span>
</body>
</html>