<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comenzi</title>
    <link rel="stylesheet" type="text/css" href="../../shoppingCart.css" th:href="@{/shoppingCart.css}">
    <link rel="stylesheet" type="text/css" href="../../welcomeCSS.css" th:href="@{/welcomeCSS.css}">
</head>
<body>

<div class="navbar">
    <a href="/adminView">Acasa</a>
    <a href="#news">Noutati</a>
    <div class="dropdown">
        <button class="dropbtn">Admin view
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/viewOrders">Vezi comenzi</a>
            <a href="/addProducts">Adauga produse</a>
            <a href="/viewStock">Actualizeaza stoc</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-75">
        <div class="container">
            <!--<form action="#" th:action="@{/confirmOrder}" method="post">-->

                <div class="row">
                    <div class="col-50">
                        <h3>Comenzi</h3>

                        <div th:if="${unprocessedOrders != null}">
                            <div  th:each="order : ${unprocessedOrders}">
                                <br>
                                    <span th:text="${order.name}" class="fa fa-user">...</span>
                                    <span th:text="${order.deliveryAddress}" class="fa fa-user">...</span>
                                    <span th:text="${order.billingAddress}" class="fa fa-user">...</span>
                                    <span th:text="${order.totalOrderPrice}" class="fa fa-user">...</span>
                                <br>
                                    <a th:href="@{confirmOrder/__${order.id}__}" type="submit" value="Confirma comanda" > Confirma Comanda</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</form>-->
        </div>
    </div>
</div>
</body>
</html>